// colors:
$color-surface-overlay: #ffffff;
$color-surface-ground: #f8f9faff;
$color-surface-ground-hover: #e9ecef;
$color-surface-border: #dee2e6;

$color-text-secondary: #6c757d;
$color-text-sidebar: rgba(255,255,255,.8);
$color-text: #495057;

$color-sidebar-bg: #343a40;
$color-sidebar-divider: rgba(255,255,255,.2);

// other variables:
$border-radius: 4px;
$transition-duration: 0.2s;

$z-index-topbar: 999;
$z-index-sidebar: 1000;
